@page "{outlet}"
@model BellsFishShop.Pages.OutletModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{ ViewData["Title"] = "Outlet"; }

<div class="NavbarLogoTrigger"></div>

<div class="container-fluid Background2 SpacerAfter">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md Spacer">
                    <h1>
                        @Model.Outlet.Title
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    @Html.Raw(Model.Outlet.Details)
                </div>
                <div class="col-md-4 text-center">
                    <img src="~/images/@Model.Outlet.Photo2" alt="@Model.Outlet.Title" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid Spacer">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h3>
                        Contact Details
                    </h3>
                    <div class="row">
                        <div class="col-lg SpacerAfter">
                            <h4>
                                <i class="fas fa-home"></i> Address
                            </h4>
                            @if (Model.Outlet.Address1 != null)
                            {
                @Model.Outlet.Address1 @:<br />
            }

                            @if (Model.Outlet.Address2 != null)
                            {
                @Model.Outlet.Address2 @:<br />
            }

                            @if (Model.Outlet.Address3 != null)
                            {
                @Model.Outlet.Address3 @:<br />
            }

                            @if (Model.Outlet.Address4 != null)
                            {
                @Model.Outlet.Address4 @:<br />
            }

                            @if (Model.Outlet.PostcodeOut != null)
                            {
                @Model.Outlet.PostcodeOut @Model.Outlet.PostcodeIn}
                        </div>
                        <div class="col-lg">
                            <h4>
                                <i class="far fa-comment-dots"></i> Contact
                            </h4>
                            <a href="tel:@Model.Outlet.Tel"><i class="fas fa-phone"></i> @Model.Outlet.Tel</a><br />
                            <a href="mailto:@Model.Outlet.Email?subject=Website%20Enquiry%20at%20@{@Model.Outlet.Title.Replace(" ", "%20")}"><i class="fas fa-envelope"></i> @Model.Outlet.Email</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <div class="alert alert-primary" role="alert">
                                To make a reservation please send an email to the address above or <a href="mailto:@Model.Outlet.Email?subject=Bells%20Reservation%20at%20@{@Model.Outlet.Title.Replace(" ", "%20")}">click here</a>.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <h3>
                        Opening Times
                    </h3>
                    <table class="table table-dark table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Day</th>
                            @if (Model.Outlet.OpeningTimeVenueType1 != null)
                            {
                                <th scope="col">@Model.Outlet.OpeningTimeVenueType1</th>
                            }

                            @if (Model.Outlet.OpeningTimeVenueType2 != null)
                            {
                                <th scope="col">@Model.Outlet.OpeningTimeVenueType2</th>
                            }
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var day in Model.OpeningDay)
                        {
                            var times = Model.Outlet.OutletOpeningTime.Where(o => o.DayID == day.OpeningDayID);
                            var dayClass = "";

                            if (day.OpeningDayID == Model.CurrentDayNumber)
                            {
                                dayClass = "CurrentDay";
                            }
                            else
                            {
                                dayClass = "";
                            }

                            @if (times.Count() == 0)
                            {
                                <tr class="@dayClass">
                                    <td>@day.DayName</td>
                                @if (Model.Outlet.OpeningTimeVenueType1 != null)
                                {
                                    <td>Closed</td>
                                }
                
                                @if (Model.Outlet.OpeningTimeVenueType2 != null)
                                {
                                    <td>Closed</td>
                                }
                                </tr> 
                            }
                            else
                            {
                                var timeNum = 0;
                                var numTimes = times.Count();

                                @foreach (var openingDay in times)
                                {
                                    timeNum += 1;

                                <tr class="@dayClass">
                                @if (timeNum == 1)
                                {
                                    <td rowspan="@times.Count()">@day.DayName</td>
                                }

                                @if (Model.Outlet.OpeningTimeVenueType1 != null)
                                {
                                    @if (openingDay.OpeningTime1 != null && openingDay.ClosingTime1 != null) 
                                    {
                                    <td>
                                        @Html.DisplayFor(modelItem => openingDay.OpeningTime1) - @Html.DisplayFor(modelItem => openingDay.ClosingTime1)
                                    </td>
                                    }
                                    else
                                    {
                                        @if (timeNum == 1)
                                        {
                                    <td>Closed</td>
                                        }
                                        else
                                        {
                                    <td>&nbsp;</td>
                                        }
                                    }
                                }
                                  
                                @if (Model.Outlet.OpeningTimeVenueType2 != null)
                                {
                                    @if (openingDay.OpeningTime2 != null && openingDay.ClosingTime2 != null) 
                                    {
                                    <td>
                                        @Html.DisplayFor(modelItem => openingDay.OpeningTime2) - @Html.DisplayFor(modelItem => openingDay.ClosingTime2)
                                    </td>
                                    }
                                    else
                                    {
                                        @if (timeNum == 1)
                                        {
                                    <td>Closed</td>
                                        }
                                        else
                                        {
                                    <td>&nbsp;</td>
                                        }
                                    }
                                }
                                </tr>
                                }
                            }
                        }

                            @*@foreach (var day in Model.OpeningDay)
                {
                    {
                        var times = Model.Outlet.OutletOpeningTime.Where(o => o.DayID == day.OpeningDayID).FirstOrDefault();

                        <tr>
                            <td>@day.DayName</td>
                            <td class="text-center">
                                @if (times != null)
                                {
                                    @Html.DisplayFor(modelItem => times.OpeningTime) @:- @Html.DisplayFor(modelItem => times.ClosingTime)
                                }
                                else
                                {
                                    @:Closed
                                }

                            </td>
                        </tr>
                    }
                }*@
                        </tbody>
                    </table>
                    <div class="alert alert-primary" role="alert">
                        <p>
                            Please note that last orders from the restaurant are 30 minutes before the closing time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid Background2 SpacerAfter">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col col-md Spacer">
                    <h3>
                        Contact Form and Map
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="container">
                        <form method="post" id="ContactForm">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-xl">
                                    <h4><i class="far fa-id-card"></i> Personal Details</h4>

                                    <div class="form-group row">
                                        <label asp-for="Contact.Name" class="col-md-4 col-form-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="Contact.Name" class="form-control" />
                                            <span asp-validation-for="Contact.Name" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label asp-for="Contact.Email" class="col-md-4 col-form-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="Contact.Email" class="form-control" />
                                            <span asp-validation-for="Contact.Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label asp-for="Contact.Telephone" class="col-md-4 col-form-label"></label>
                                        <div class="col-md-8">
                                            <input asp-for="Contact.Telephone" class="form-control" />
                                            <span asp-validation-for="Contact.Telephone" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl">
                                    <h4><i class="fas fa-envelope-open-text"></i> Enquiry</h4>

                                    <div class="form-group row">
                                        <div class="col-md">
                                            <textarea asp-for="Contact.Enquiry" class="form-control"></textarea>
                                            <span asp-validation-for="Contact.Enquiry" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md d-md-block d-sm-none">

                                </div>
                                <div class="col-xl-4 col-lg-8">
                                    <input type="hidden" name="Contact.OutletID" value="@Model.Outlet.OutletID" />
                                    <button type="submit" class="btn btn-dark btn-Bells btn-block SendEnquiry SpacerAfter"><i class="fas fa-paper-plane"></i> Send Enquiry</button>
                                </div>
                                <div class="col-md d-md-block d-sm-none">
                                </div>
                            </div>
                        </form>
                        <input id="AntiForgeryTokenID" name="__RequestVerificationToken" type="hidden" value=" @Xsrf.GetAndStoreTokens(this.HttpContext).RequestToken" />
                    </div>
                </div>
                <div class="col col-md">
                    <iframe src="@Model.Outlet.GoogleMapLink" class="Map" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid Background2">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md Spacer">
                    <h3>
                        Our Customers Say...
                    </h3>
                    <div id="google-reviews" class="SpacerAfter">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    @*<link rel="stylesheet" href="https://cdn.rawgit.com/stevenmonson/googleReviews/master/google-places.css">
    <script src="https://cdn.jsdelivr.net/gh/stevenmonson/googleReviews@6e8f0d794393ec657dab69eb1421f3a60add23ef/google-places.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhP1zPFmpJpDVV4zEm6bbLFNLzpk9BnSI&libraries=places"></script>

    <script>
        $("#google-reviews").googlePlaces({
            placeId: '@Model.Outlet.GoogleReviewsLink' //Find placeID: https://developers.google.com/places/place-id
            , render: ['reviews']
            , min_rating: 4
            , max_rows: 6
        });
    </script>*@
}
