@page
@model BellsFishShop.Pages.MenuCategoryData.DetailsModel

<div>
    <h4>MenuCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuCategory.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuCategory.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuCategory.TitleExtra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuCategory.TitleExtra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuCategory.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuCategory.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuCategory.ScreenNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuCategory.ScreenNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuCategory.Menu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuCategory.Menu.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MenuCategory.MenuCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
