@page
@model BellsFishShop.Pages.MenuCategoryData.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuCategory[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuCategory[0].TitleExtra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuCategory[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuCategory[0].ScreenNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuCategory[0].Menu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MenuCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleExtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MenuCategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MenuCategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MenuCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
