@page "{id:int?}"
@model BellsFishShop.Pages.MenuItemData.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md" id="MenuItemList">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.MenuItem[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MenuItem[0].TitleExtra)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MenuItem[0].Price)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MenuItem)
                {
                    <tr>
                        <td>
                            <button class="btn btn-secondary EditMenuItem" data-toggle="modal" data-target="#MenuItemModal" data-id="@item.MenuItemID"><i class="fas fa-external-link-alt"></i></button>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TitleExtra)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>