@page
@model BellsFishShop.Pages.MenuItemData.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].TitleExtra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].MenuCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MenuItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleExtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuCategory.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MenuItemID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MenuItemID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MenuItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
